<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.dit.myswing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
            Source on how to add Google Map functionality:
                - https://developers.google.com/maps/documentation/android-sdk/config
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBIo4_j-nnKuLtcqe4twifKoz-ZNcpO9gU" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- https://developers.google.com/maps/documentation/android-sdk/config#specify_requirement_for_apache_http_legacy_library -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".greeting.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".greeting.Register" />
        <activity
            android:name=".greeting.Home"
            android:label="@string/title_activity_home"
            android:parentActivityName=".greeting.Login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ie.dit.myswing.greeting.Login" />
        </activity>
        <activity android:name=".map.AddCourse" />
        <activity android:name=".map.ConfigureCourse" />
        <activity android:name=".play.ConfirmRound" />
        <activity android:name=".play.PlayMapAndScorecard" />
        <activity android:name=".profile.JoinClub" />
        <activity android:name=".profile.JoinSociety" />
        <activity android:name=".tournaments.CreateTournament" />
        <activity android:name=".tournaments.InvitePlayers" />
        <activity android:name=".play.PlaySelectCourse" />
        <activity android:name=".play.PlaySelectTournament" />
        <activity android:name=".play.TournamentMarkerSetup" />
        <activity android:name=".play.SelectRoundType" />
        <activity android:name=".rounds.SelectedRound" />
        <activity android:name=".rounds.RoundMapAndScorecard" />
        <activity android:name=".tournaments.SelectedTournament"></activity>
    </application>

</manifest>